footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(217, 217, 217, 0.43);
    // padding: 1.5em 4em 3em 3em;

    .logo {
        position: relative;
        top:2.5em;
        height: 10em;
    }
    
    .logo-hover{
        padding: 0 0.5em;
        width: 10em;
        &:hover {
        fill: rgb(253, 209, 184, 0.8);
    }
    }

    .container-logo-info {
        display: flex;

        a {
            text-align: center;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    h2 {
        font-size: 1.5em;
    }

    a {
        font-size: 0.8em;
    }

    .logo-container {
        display: flex;        
        img{
            width: 8em;
            padding: 0 0.5em;
        }
    }

}