/* ----------------------------- *
 *           GALLERIE            *
 * ----------------------------- */


 #gallery-first {
    @include center-col;
    h1 {
        text-align: center;
        font-size: 4em;
    }

    h2 {
        text-align: center;
        font-size: 2em;
        padding-bottom: 5%;

    }

}
#gallery-second {
    @include center-row;
    height: fit-content;


    .one {
        @include horizontal;
        left: 12em;
        z-index: 111;
    }
    .two {
        @include vertical;
        z-index: 99;
        bottom: 10em;
        right: 14em;

    }
    .three {
        @include vertical;
        z-index: 50;
        bottom: 25em;
        left: 7em;
    }
    .four {
        @include vertical;
        z-index: 55;
        bottom: 30em;
        right: 8em;
    }
    .five {
        @include horizontal;
        left: 12em;
        z-index: 111;
        bottom: 40em;
    }
    .six {
        @include vertical;
        right: 15em;
        z-index: 111;
        bottom: 43em;
    }
}