/* ----------------------------- *
 *           GALLERIE            *
 * ----------------------------- */


 #gallery-first {
    @include center-col;
    padding-top: 7em;

    h1 {
        text-align: center;
        font-size: 4em;
    }

    h2 {
        text-align: center;
        font-size: 2em;
        padding-bottom: 5%;

    }

}
#gallery-second {
    @include center-row;

    .one {
        @include horizontal;
    }
}