/* ----------------------------- *
 *             HOME              *
 * ----------------------------- */


#home-first {
    @include center-col;
    padding-top: 7em;

    h1 {
        text-align: center;
        font-size: 4em;
    }

    h2 {
        text-align: center;
        font-size: 2em;
        padding-bottom: 5%;

    }

    a {
        width: fit-content;
        border: solid 2px $sec-color;
        padding: 1em;
    }

}

#home-second {

    h3 {
        position: relative;
        width: fit-content;
        left: 5em;
        top: 2em;
        padding: 0.5em;
        height: fit-content;
        font-size: 1.5em;
        border-left: 2.5px solid #CFAA5B;
        border-bottom: 2.5px solid #CFAA5B;
    }

    .stroke {
        position: relative;
        border-bottom: 2.5px solid #CFAA5B;
        top: 0em;
        margin: 6em;

    }

.accordian {
        position: relative;
        width: 50em;
        height: 320px;
        overflow: hidden;
        margin: 0px auto;
        top: 0;

    ul {
      width: 2000px;

    }
  
    li {
      position: relative;
      display: block;
      width: 7.1em;
      float: left;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;

    }
  
    ul {
      &:hover li {
        width: 40px;
      }
  
      li:hover {
        width: 640px;
      }
    }
  
    li img {
      display: block;
    }
  }

}
#home-third {
    @include center-col;
    font-family: 'JOSEFINS';
    p {
        font-size: 2em;
        width: 35em;
        padding: 3em;
    }
    a {
        font-size: 1em;
        font-family: 'TAN-PEARL';
        width: fit-content;
        border: solid 2px $sec-color;
        padding: 1em;
    }
}