/* ----------------------------- *
 *          MEDIAQUERY           *
 * ----------------------------- */

@media (max-width: 690px) {
  #gallery-second {
    .one {
      height: 13em;
      width: auto;
      bottom: 0;
      left: 5em;
    }

    .two {
      height: 11em;
      width: auto;
      bottom: 2em;
      right: 5em;
    }

    .three {
      height: 11em;
      width: auto;
      bottom: 5em;
      left: 2em;
    }

    .four {
      height: 11em;
      width: auto;
      bottom: 7em;
      right: 6em;
    }

    .five {
      height: 13em;
      width: auto;
      bottom: 10em;
      left: 5em;
    }

    .six {
      height: 11em;
      width: auto;
      bottom: 13em;
      right: 5em;
    }

    .seven {
      height: 11em;
      width: auto;
      bottom: 15em;
      left: 5em;
    }

    .popup-container1 .popup {
      .paint {
        justify-content: center;
        flex-direction: column;

        img {
          width: 100%;
          height: max-content;
          padding: 0.5em 7em 0.5em 7em;
        }

        .context {
          display: none;
        }
      }

      margin: 0.5em;
      padding: 1em;
      justify-content: space-between;
      height: 90%;
    }
  }
}

@media (max-width: 400px) {
  #gallery-second {
    .one {
      height: 12em;
      width: auto;
      bottom: 0;
      left: 2em;
    }

    .two {
      height: 11em;
      width: auto;
      bottom: 2em;
      right: 2em;
    }

    .three {
      height: 12em;
      width: auto;
      bottom: 3em;
      left: 2em;
    }

    .four {
      height: 12em;
      width: auto;
      bottom: 5em;
      right: 3.5em;
    }

    .five {
      height: 12em;
      width: auto;
      bottom: 7em;
      left: 3.5em;
    }

    .six {
      height: 12em;
      width: auto;
      bottom: 9em;
      right: 2.5em;
    }

    .six {
      height: 12em;
      width: auto;
      bottom: 11em;
      left: 4em;
    }

    .seven {
      height: 12em;
      width: auto;
      bottom: 12em;
      right: 4em;
    }

    .popup-container1 .popup .paint img {
      width: 100%;
      height: max-content;
      padding: 0.5em 3em 0.5em 3em;
    }
  }
}

@media (max-width: 1020px) {
  #contact-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3em;
    }
  }
}

@media (max-width: 400px) {
  #contact-first {
    .inner {
      width: 90%;
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }
  }
}

@media(max-width:1000px) {
  #account-first {
    h2 {
      font-size: 1.2em;
      padding-bottom: 0.2em;
    }

    .inner {
      height: 31em;
      width: 30em;
    }

    span {
      font-size: 0.9em;
      color: black;
      padding: 1em;
    }
  }
}

@media(max-width:690px) {
  #account-first {
    h2 {
      font-size: 1.2em;
      padding-bottom: 0.2em;
    }

    .inner {
      height: 31em;
      width: 20em;
    }

    span {
      font-size: 0.9em;
      color: black;
      padding: 1em;
    }
  }
}

@media(max-width:1000px) {
  #log-page {
    h2 {
      font-size: 1.2em;
      padding-bottom: 0.2em;
    }

    .inner {
      height: 31em;
      width: 30em;
    }

    span {
      font-size: 0.9em;
      color: black;
      padding: 1em;
    }
  }
}

@media(max-width:690px) {
  #log-page {
    h2 {
      font-size: 1.2em;
      padding-bottom: 0.2em;
    }

    .inner {
      height: 31em;
      width: 20em;
    }

    span {
      font-size: 0.9em;
      color: black;
      padding: 1em;
    }
  }
}

@media(max-width:1000px) {
  #log-page {
    h2 {
      font-size: 1.2em;
      padding-bottom: 0.2em;
    }

    .inner {
      height: 31em;
      width: 30em;
    }

    span {
      font-size: 0.9em;
      color: black;
      padding: 1em;
    }
  }
}

@media(max-width:690px) {

  #reservation-second .ticket {
    flex-direction: column;
    p{
      font-size: 0.8em;

    }
 
    .ticket-text {
      height: 100%;
      width: inherit;
    }

    .ticket-price {
      height: auto;
      width: inherit
      ;
    }
  }

  .flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
    height: 1em;
    top: 10em;
    left: 21em;
  }

}

@media (max-width: 1300px) {
  #artistes-1,
#artistes-2,
#artistes-3,
#artistes-4,
#artistes-5,
#artistes-6 {
  padding-top: 4em;
  margin-bottom: 2em;
  .content {

      .img {
          padding: 1em;

          img {
              height: auto;
              width: 15em;
              padding-bottom: 1em;
          }
      }

      .text {

          padding: 1em;
          margin: 1em;

      }
  }
  }
}
@media (max-width: 1300px) {
  #artistes-1,
#artistes-2,
#artistes-3,
#artistes-4,
#artistes-5,
#artistes-6 {
  padding-top: 4em;
  margin-bottom: 2em;
  .content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .img {
          position: relative;
          padding: 1em;

          img {
              height: auto;
              width: 15em;
              padding-bottom: 1em;
          }
      }

      .text {

          bottom: 0em;

          h1 {
              font-family: 'TAN-PEARL';
              font-size: 2em;
          }
      }
  }
  }
}
