@mixin center-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin center-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin horizontal {
    height: 20em;
    width: 38em;
    border: 2.5px solid $sec-color;
    position: relative;

}

@mixin vertical {
    height: 38em;
    width: 25em;
    border: 2.5px solid $sec-color;
    position: relative;

}