/* ----------------------------- *
 *             NAV-BAR           *
 * ----------------------------- */

  
  #nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: top 0.5s ease-in-out;
  }


  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    background-color: #fffef0c6;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    
    img {
      max-height: 5em;
      padding-left: 1em;
    }
  .hamburger {
      display: none;
      cursor: pointer;
    }
  .bar {
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out;
    background-color: $sec-color;
  }
  }
  
  @media screen and (max-width: 1020px)  {
   
   .navbar { 
    padding: 1em;
    .container {
      border-bottom: none;

    }
    img {
      padding-left: 40%;
    }
    .hamburger {
    display: block;
    z-index: 9999;
    
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }  
  .hamburger.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
      }
    
  .nav-list {
    position: fixed;
    left: 50%;
    top: -1000%;
    flex-direction: column;  
    width: 90%;
    text-align: center;
    transition: 1s;
    transform: translate(-50%, 0%);
    background-color: $main-color;
    z-index: 1;

  }
    .nav-item {
      margin: 0.5em 0;
      background-color: $sec-color;

    
    }

    .nav-list.active {
      top: 6em;
      border-bottom: 2.5px solid $sec-color;
    }
  }
}



  .container {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 95%;    
    border-bottom: 2.5px solid $sec-color;


  }
  .nav-list {
    position: relative;
    display: flex;
    list-style: none;
    padding-bottom: 1em;

  }
  
  .nav-item {
    text-align: center;
    padding-block: 1em;
  }
  
  .nav-link {
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
  
    &:after {
      background: none repeat scroll 0 0 transparent;
      top: 2em;
      content: "";
      display: block;
      height: 2.5px;
      right: 50%;
      position: absolute;
      background: $sec-color;
      transition: width 0.3s ease 0s, right 0.7s ease 0s;
      width: 0;
    }
  
    &:hover:after {
      width: 50%;
      left: 0;
    }
  }
  
  