/* ----------------------------- *
 *             NAV-BAR           *
 * ----------------------------- */

 header {
    background-color: transparent;
  }
  
  #nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: top 0.5s ease-in-out;

  }


  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    img {
      max-height: 5em;
    }
  }
  

  .container {
    display: flex;
    flex-direction: row-reverse;
    width: 95%;    
    border-bottom: 2.5px solid $sec-color;

  }
  .nav-list {
    position: relative;
    display: flex;
    list-style: none;
    padding-bottom: 1em;

  }
  
  .nav-item {
    text-align: center;
    padding-block: 1em;
  }
  
  .nav-link {
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
  
    &:after {
      background: none repeat scroll 0 0 transparent;
      top: 2em;
      content: "";
      display: block;
      height: 2.5px;
      right: 50%;
      position: absolute;
      background: $sec-color;
      transition: width 0.3s ease 0s, right 0.7s ease 0s;
      width: 0;
    }
  
    &:hover:after {
      width: 50%;
      left: 0;
    }
  }
  

  