/* ----------------------------- *
 *          RESERVATION          *
 * ----------------------------- */
 #reservation-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h1 {
      position: relative;
      right: 22.5em;
      padding: 0.5em;
      height: fit-content;
      font-size: 1.5em;
      border-left: 2.5px solid #CFAA5B;
      border-bottom: 2.5px solid #CFAA5B;
    }
  
    form {
      display: flex;
      flex-direction: column;
    }
  }
  
  .flatpickr-calendar {
    font-size: 1em;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    width: 30em;
  }
  
  .flatpickr-innerContainer {
    justify-content: center;
  }
  
  .flatpickr-months {
    .flatpickr-prev-month, .flatpickr-next-month {
      height: 1em;
      top: 10em;
      color: #CFAA5B;
      fill: #CFAA5B;
    }
  
    .flatpickr-prev-month svg, .flatpickr-next-month svg {
      width: 2em;
      height: 2em;
    }
  
    .flatpickr-month {
      height: 5em;
    }
  }
  
  .flatpickr-current-month {
    top: 25%;
    width: 80%;
  }
  
  .flatpickr-day {
    &.selected, &.startRange, &.endRange, &.selected.inRange, &.startRange.inRange, &.endRange.inRange, &.selected:focus, &.startRange:focus, &.endRange:focus, &.selected:hover, &.startRange:hover, &.endRange:hover, &.selected.prevMonthDay, &.startRange.prevMonthDay, &.endRange.prevMonthDay, &.selected.nextMonthDay, &.startRange.nextMonthDay, &.endRange.nextMonthDay {
      background: #CFAA5B;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #fff;
      border-color: #CFAA5B;
    }
  }
  
  #reservation-second {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
    .ticket {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: fit-content;
  
      .ticket-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60%;
        padding: 2em;
        background-color: rgba(207, 170, 91, 0.3254901961);
        text-align: center;
      }
  
      .ticket-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 40%;
        padding: 5em;
        background-color: #FFFEF0;
        text-align: center;
        border: 2px solid #CFAA5B;
      }
    }
  
    .ticket-button a {
      padding: 1em;
      border: solid 2px #CFAA5B;
    }
  
    .popup-status {
      display: block;
      color: black;
      position: fixed;
      height: 10em;
      width: 20em;
      top: 34em;
      right: 2em;
      border-radius: 20px;
      background-color: #CFAA5B;
    }
    .reserver {
      font-family: 'TAN-PEARL';
      border: none;
      border-radius: 10px;
      border-bottom: 2px solid #CFAA5B;
      display: block;
      width: 100%;
      color: #383838;
      height: 5em;
      font-size: 1em;
      margin: 0.5em;
      padding: 1em;
      background-color: #FDD1B8;
      cursor: pointer;
  
  }
  }
  