/* ----------------------------- *
*             RESET             *
* ----------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

hr {
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* ----------------------------- *
 *             FONTS             *
 * ----------------------------- */
@font-face {
  font-family: "TAN-PEARL";
  src: url("../fonts/TAN-PEARL.woff2") format("woff2"), url("../fonts/TAN-PEARL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JOSEFINS";
  src: url("../fonts/JosefinSlab-VariableFont_wght.woff2") format("woff2"), url("../fonts/JosefinSlab-VariableFont_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* ----------------------------- *
 *             NAV-BAR           *
 * ----------------------------- */
#nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: top 0.5s ease-in-out;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  background-color: rgba(255, 254, 240, 0.7764705882);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.navbar img {
  max-height: 5em;
  padding-left: 1em;
}
.navbar .hamburger {
  display: none;
  cursor: pointer;
}
.navbar .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #CFAA5B;
}

@media screen and (max-width: 1020px) {
  .navbar {
    padding: 1em;
  }
  .navbar .container {
    border-bottom: none;
  }
  .navbar img {
    padding-left: 40%;
  }
  .navbar .hamburger {
    display: block;
    z-index: 9999;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar .nav-list {
    position: fixed;
    left: 50%;
    top: -1000%;
    flex-direction: column;
    width: 90%;
    text-align: center;
    transition: 1s;
    transform: translate(-50%, 0%);
    background-color: #FFFEF0;
    z-index: 1;
  }
  .navbar .nav-item {
    margin: 0.5em 0;
    background-color: #CFAA5B;
  }
  .navbar .nav-list.active {
    top: 6em;
    border-bottom: 2.5px solid #CFAA5B;
  }
}
.container {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 95%;
  border-bottom: 2.5px solid #CFAA5B;
}

.nav-list {
  position: relative;
  display: flex;
  list-style: none;
  padding-bottom: 1em;
}

.nav-item {
  text-align: center;
  padding-block: 1em;
}

.nav-link {
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}
.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  top: 2em;
  content: "";
  display: block;
  height: 2.5px;
  right: 50%;
  position: absolute;
  background: #CFAA5B;
  transition: width 0.3s ease 0s, right 0.7s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 50%;
  left: 0;
}

/* ----------------------------- *
 *             LAYOUT            *
 * ----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 254, 240, 0.7764705882);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

::-webkit-scrollbar-thumb {
  background: #CFAA5B;
  border-radius: 50px;
}

body {
  background-color: #FFFEF0;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100vh;
  font-family: "TAN-PEARL";
  font-size: 1em;
  overflow-x: hidden;
}

section {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------------------- *
 *             HOME              *
 * ----------------------------- */
#home-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7em;
}
#home-first h1 {
  text-align: center;
  font-size: 4em;
}
#home-first h2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 5%;
}
#home-first a {
  width: fit-content;
  border: solid 2px #CFAA5B;
  padding: 1em;
}

#home-second h3 {
  position: relative;
  width: fit-content;
  left: 5em;
  top: 2em;
  padding: 0.5em;
  height: fit-content;
  font-size: 1.5em;
  border-left: 2.5px solid #CFAA5B;
  border-bottom: 2.5px solid #CFAA5B;
}
#home-second .stroke {
  position: relative;
  border-bottom: 2.5px solid black;
  top: 0em;
  margin: 6em;
}
#home-second .accordian {
  position: relative;
  width: 50em;
  height: 320px;
  overflow: hidden;
  margin: 0px auto;
  top: 0;
}
#home-second .accordian ul {
  width: 2000px;
}
#home-second .accordian li {
  position: relative;
  display: block;
  width: 7.1em;
  float: left;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
#home-second .accordian ul:hover li {
  width: 40px;
}
#home-second .accordian ul li:hover {
  width: 640px;
}
#home-second .accordian li img {
  display: block;
}

#home-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "JOSEFINS";
}
#home-third p {
  font-size: 2em;
  width: 35em;
  padding: 3em;
}
#home-third a {
  font-size: 1em;
  font-family: "TAN-PEARL";
  width: fit-content;
  border: solid 2px #CFAA5B;
  padding: 1em;
}

/* ----------------------------- *
 *            GALLERY            *
 * ----------------------------- */
#gallery-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gallery-first h1 {
  text-align: center;
  font-size: 5em;
}

#gallery-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
#gallery-second .one {
  height: 20em;
  width: 38em;
  border: 2.5px solid #CFAA5B;
  position: relative;
  left: 12em;
  width: auto;
  z-index: 111;
  cursor: pointer;
}
#gallery-second .one img {
  padding: 1em;
  height: 100%;
  width: auto;
}
#gallery-second .two {
  height: 38em;
  width: 25em;
  border: 2.5px solid #CFAA5B;
  position: relative;
  width: auto;
  z-index: 99;
  height: 25em;
  bottom: 5em;
  right: 7em;
  cursor: pointer;
}
#gallery-second .two img {
  padding: 1em;
  height: 100%;
  width: auto;
}
#gallery-second .three {
  height: 38em;
  width: 25em;
  border: 2.5px solid #CFAA5B;
  position: relative;
  width: auto;
  height: 20em;
  z-index: 50;
  bottom: 7em;
  left: 7em;
  cursor: pointer;
}
#gallery-second .three img {
  padding: 1em;
  height: 100%;
  width: auto;
}
#gallery-second .four {
  height: 38em;
  width: 25em;
  border: 2.5px solid #CFAA5B;
  position: relative;
  width: auto;
  height: 25em;
  z-index: 55;
  bottom: 10em;
  right: 10em;
  cursor: pointer;
}
#gallery-second .four img {
  padding: 1em;
  height: 100%;
  width: auto;
}
#gallery-second .five {
  height: 20em;
  width: 38em;
  border: 2.5px solid #CFAA5B;
  position: relative;
  width: auto;
  left: 8em;
  height: 22em;
  z-index: 111;
  bottom: 14em;
  cursor: pointer;
}
#gallery-second .five img {
  padding: 1em;
  height: 100%;
  width: auto;
}
#gallery-second .six {
  height: 38em;
  width: 25em;
  border: 2.5px solid #CFAA5B;
  position: relative;
  width: auto;
  height: 25em;
  right: 10em;
  z-index: 111;
  bottom: 17em;
  cursor: pointer;
}
#gallery-second .six img {
  padding: 1em;
  height: 100%;
  width: auto;
}
#gallery-second .seven {
  height: 38em;
  width: 25em;
  border: 2.5px solid #CFAA5B;
  position: relative;
  width: auto;
  height: 25em;
  left: 10em;
  z-index: 111;
  bottom: 19em;
  cursor: pointer;
}
#gallery-second .seven img {
  padding: 1em;
  height: 100%;
  width: auto;
}
#gallery-second .popup-container1 {
  font-family: "JOSEFINS";
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.823);
  display: flex;
  z-index: 990;
  display: none;
  animation: animationA 0.5s ease-out 0.1s both;
}
#gallery-second .popup-container1 .popup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: fit-content;
  padding: 2em 0.2em 2em 2em;
  margin: 13em 7em 10em;
  border: 2px solid #CFAA5B;
}
#gallery-second .popup-container1 .popup .paint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 100%;
}
#gallery-second .popup-container1 .popup .paint img {
  height: auto;
  width: 100%;
  padding-bottom: 2em;
}
#gallery-second .popup-container1 .popup .paint .context {
  height: 100%;
  font-size: 1.1em;
}
#gallery-second .popup-container1 .popup .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 130%;
}
#gallery-second .popup-container1 .popup .text h2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 3.5%;
  font-family: "TAN-PEARL";
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#gallery-second .popup-container1 .popup .text .title {
  height: 100%;
  padding-left: 1.5em;
}
#gallery-second .popup-container1 .popup .text .title .short {
  font-size: 1.5em;
  color: #CFAA5B;
}
#gallery-second .popup-container1 .popup .text .title .story {
  font-size: 1.2em;
}
#gallery-second .popup-container1 .popup .e1 {
  display: block;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  bottom: 47%;
}
#gallery-second .popup-container1 .popup .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #CFAA5B;
}
#gallery-second .popup-container1 .popup .e1 .bar:nth-child(2) {
  opacity: 0;
}
#gallery-second .popup-container1 .popup .e1 .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#gallery-second .popup-container1 .popup .e1 .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#gallery-second .popup-container1.active {
  display: flex;
}
#gallery-second .popup-container2 {
  font-family: "JOSEFINS";
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.823);
  display: flex;
  z-index: 990;
  display: none;
  animation: animationA 0.5s ease-out 0.1s both;
}
#gallery-second .popup-container2 .popup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: fit-content;
  padding: 2em 0.2em 2em 2em;
  margin: 13em 7em 10em;
  border: 2px solid #CFAA5B;
}
#gallery-second .popup-container2 .popup .paint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 100%;
}
#gallery-second .popup-container2 .popup .paint img {
  height: auto;
  width: 100%;
  padding-bottom: 2em;
}
#gallery-second .popup-container2 .popup .paint .context {
  height: 100%;
  font-size: 1.1em;
}
#gallery-second .popup-container2 .popup .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 130%;
}
#gallery-second .popup-container2 .popup .text h2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 3.5%;
  font-family: "TAN-PEARL";
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#gallery-second .popup-container2 .popup .text .title {
  height: 100%;
  padding-left: 1.5em;
}
#gallery-second .popup-container2 .popup .text .title .short {
  font-size: 1.5em;
  color: #CFAA5B;
}
#gallery-second .popup-container2 .popup .text .title .story {
  font-size: 1.2em;
}
#gallery-second .popup-container2 .popup .e2 {
  display: block;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  bottom: 47%;
}
#gallery-second .popup-container2 .popup .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #CFAA5B;
}
#gallery-second .popup-container2 .popup .e2 .bar:nth-child(2) {
  opacity: 0;
}
#gallery-second .popup-container2 .popup .e2 .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#gallery-second .popup-container2 .popup .e2 .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#gallery-second .popup-container2.active {
  display: flex;
}
#gallery-second .popup-container3 {
  font-family: "JOSEFINS";
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.823);
  display: flex;
  z-index: 990;
  display: none;
  animation: animationA 0.5s ease-out 0.1s both;
}
#gallery-second .popup-container3 .popup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: fit-content;
  padding: 2em 0.2em 2em 2em;
  margin: 13em 7em 10em;
  border: 2px solid #CFAA5B;
}
#gallery-second .popup-container3 .popup .paint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 100%;
}
#gallery-second .popup-container3 .popup .paint img {
  height: auto;
  width: 100%;
  padding-bottom: 2em;
}
#gallery-second .popup-container3 .popup .paint .context {
  height: 100%;
  font-size: 1.1em;
}
#gallery-second .popup-container3 .popup .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 130%;
}
#gallery-second .popup-container3 .popup .text h2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 3.5%;
  font-family: "TAN-PEARL";
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#gallery-second .popup-container3 .popup .text .title {
  height: 100%;
  padding-left: 1.5em;
}
#gallery-second .popup-container3 .popup .text .title .short {
  font-size: 1.5em;
  color: #CFAA5B;
}
#gallery-second .popup-container3 .popup .text .title .story {
  font-size: 1.2em;
}
#gallery-second .popup-container3 .popup .e3 {
  display: block;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  bottom: 47%;
}
#gallery-second .popup-container3 .popup .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #CFAA5B;
}
#gallery-second .popup-container3 .popup .e3 .bar:nth-child(2) {
  opacity: 0;
}
#gallery-second .popup-container3 .popup .e3 .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#gallery-second .popup-container3 .popup .e3 .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#gallery-second .popup-container3.active {
  display: flex;
}
#gallery-second .popup-container4 {
  font-family: "JOSEFINS";
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.823);
  display: flex;
  z-index: 990;
  display: none;
  animation: animationA 0.5s ease-out 0.1s both;
}
#gallery-second .popup-container4 .popup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: fit-content;
  padding: 2em 0.2em 2em 2em;
  margin: 13em 7em 10em;
  border: 2px solid #CFAA5B;
}
#gallery-second .popup-container4 .popup .paint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 100%;
}
#gallery-second .popup-container4 .popup .paint img {
  height: auto;
  width: 100%;
  padding-bottom: 2em;
}
#gallery-second .popup-container4 .popup .paint .context {
  height: 100%;
  font-size: 1.1em;
}
#gallery-second .popup-container4 .popup .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 130%;
}
#gallery-second .popup-container4 .popup .text h2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 3.5%;
  font-family: "TAN-PEARL";
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#gallery-second .popup-container4 .popup .text .title {
  height: 100%;
  padding-left: 1.5em;
}
#gallery-second .popup-container4 .popup .text .title .short {
  font-size: 1.5em;
  color: #CFAA5B;
}
#gallery-second .popup-container4 .popup .text .title .story {
  font-size: 1.2em;
}
#gallery-second .popup-container4 .popup .e4 {
  display: block;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  bottom: 47%;
}
#gallery-second .popup-container4 .popup .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #CFAA5B;
}
#gallery-second .popup-container4 .popup .e4 .bar:nth-child(2) {
  opacity: 0;
}
#gallery-second .popup-container4 .popup .e4 .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#gallery-second .popup-container4 .popup .e4 .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#gallery-second .popup-container4.active {
  display: flex;
}
#gallery-second .popup-container5 {
  font-family: "JOSEFINS";
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.823);
  display: flex;
  z-index: 990;
  display: none;
  animation: animationA 0.5s ease-out 0.1s both;
}
#gallery-second .popup-container5 .popup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: fit-content;
  padding: 2em 0.2em 2em 2em;
  margin: 13em 7em 10em;
  border: 2px solid #CFAA5B;
}
#gallery-second .popup-container5 .popup .paint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 100%;
}
#gallery-second .popup-container5 .popup .paint img {
  height: auto;
  width: 100%;
  padding-bottom: 2em;
}
#gallery-second .popup-container5 .popup .paint .context {
  height: 100%;
  font-size: 1.1em;
}
#gallery-second .popup-container5 .popup .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 130%;
}
#gallery-second .popup-container5 .popup .text h2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 3.5%;
  font-family: "TAN-PEARL";
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#gallery-second .popup-container5 .popup .text .title {
  height: 100%;
  padding-left: 1.5em;
}
#gallery-second .popup-container5 .popup .text .title .short {
  font-size: 1.5em;
  color: #CFAA5B;
}
#gallery-second .popup-container5 .popup .text .title .story {
  font-size: 1.2em;
}
#gallery-second .popup-container5 .popup .e5 {
  display: block;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  bottom: 47%;
}
#gallery-second .popup-container5 .popup .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #CFAA5B;
}
#gallery-second .popup-container5 .popup .e5 .bar:nth-child(2) {
  opacity: 0;
}
#gallery-second .popup-container5 .popup .e5 .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#gallery-second .popup-container5 .popup .e5 .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#gallery-second .popup-container5.active {
  display: flex;
}
#gallery-second .popup-container6 {
  font-family: "JOSEFINS";
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.823);
  display: flex;
  z-index: 990;
  display: none;
  animation: animationA 0.5s ease-out 0.1s both;
}
#gallery-second .popup-container6 .popup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: fit-content;
  padding: 2em 0.2em 2em 2em;
  margin: 13em 7em 10em;
  border: 2px solid #CFAA5B;
}
#gallery-second .popup-container6 .popup .paint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 100%;
}
#gallery-second .popup-container6 .popup .paint img {
  height: auto;
  width: 100%;
  padding-bottom: 2em;
}
#gallery-second .popup-container6 .popup .paint .context {
  height: 100%;
  font-size: 1.1em;
}
#gallery-second .popup-container6 .popup .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 130%;
}
#gallery-second .popup-container6 .popup .text h2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 3.5%;
  font-family: "TAN-PEARL";
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#gallery-second .popup-container6 .popup .text .title {
  height: 100%;
  padding-left: 1.5em;
}
#gallery-second .popup-container6 .popup .text .title .short {
  font-size: 1.5em;
  color: #CFAA5B;
}
#gallery-second .popup-container6 .popup .text .title .story {
  font-size: 1.2em;
}
#gallery-second .popup-container6 .popup .e6 {
  display: block;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  bottom: 47%;
}
#gallery-second .popup-container6 .popup .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #CFAA5B;
}
#gallery-second .popup-container6 .popup .e6 .bar:nth-child(2) {
  opacity: 0;
}
#gallery-second .popup-container6 .popup .e6 .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#gallery-second .popup-container6 .popup .e6 .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#gallery-second .popup-container6.active {
  display: flex;
}
#gallery-second .popup-container7 {
  font-family: "JOSEFINS";
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.823);
  display: flex;
  z-index: 990;
  display: none;
  animation: animationA 0.5s ease-out 0.1s both;
}
#gallery-second .popup-container7 .popup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: fit-content;
  padding: 2em 0.2em 2em 2em;
  margin: 13em 7em 10em;
  border: 2px solid #CFAA5B;
}
#gallery-second .popup-container7 .popup .paint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 100%;
}
#gallery-second .popup-container7 .popup .paint img {
  height: auto;
  width: 100%;
  padding-bottom: 2em;
}
#gallery-second .popup-container7 .popup .paint .context {
  height: 100%;
  font-size: 1.1em;
}
#gallery-second .popup-container7 .popup .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  width: 130%;
}
#gallery-second .popup-container7 .popup .text h2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 3.5%;
  font-family: "TAN-PEARL";
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#gallery-second .popup-container7 .popup .text .title {
  height: 100%;
  padding-left: 1.5em;
}
#gallery-second .popup-container7 .popup .text .title .short {
  font-size: 1.5em;
  color: #CFAA5B;
}
#gallery-second .popup-container7 .popup .text .title .story {
  font-size: 1.2em;
}
#gallery-second .popup-container7 .popup .e7 {
  display: block;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  bottom: 47%;
}
#gallery-second .popup-container7 .popup .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #CFAA5B;
}
#gallery-second .popup-container7 .popup .e7 .bar:nth-child(2) {
  opacity: 0;
}
#gallery-second .popup-container7 .popup .e7 .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#gallery-second .popup-container7 .popup .e7 .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#gallery-second .popup-container7.active {
  display: flex;
}

@keyframes animationA {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1350px) {
  #gallery-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #gallery-first h1 {
    text-align: center;
    font-size: 4em;
  }
  #gallery-second .popup-container1 .popup .text .title h2, #gallery-second .popup-container1 .popup .text .title .short {
    font-size: 1.2em;
  }
  #gallery-second .popup-container1 .popup .text .title .story {
    font-size: 1em;
  }
  #gallery-second .popup-container2 .popup .text .title h2, #gallery-second .popup-container2 .popup .text .title .short {
    font-size: 1.2em;
  }
  #gallery-second .popup-container2 .popup .text .title .story {
    font-size: 1em;
  }
  #gallery-second .popup-container3 .popup .text .title h2, #gallery-second .popup-container3 .popup .text .title .short {
    font-size: 1.2em;
  }
  #gallery-second .popup-container3 .popup .text .title .story {
    font-size: 1em;
  }
  #gallery-second .popup-container4 .popup .text .title h2, #gallery-second .popup-container4 .popup .text .title .short {
    font-size: 1.2em;
  }
  #gallery-second .popup-container4 .popup .text .title .story {
    font-size: 1em;
  }
  #gallery-second .popup-container5 .popup .text .title h2, #gallery-second .popup-container5 .popup .text .title .short {
    font-size: 1.2em;
  }
  #gallery-second .popup-container5 .popup .text .title .story {
    font-size: 1em;
  }
  #gallery-second .popup-container6 .popup .text .title h2, #gallery-second .popup-container6 .popup .text .title .short {
    font-size: 1.2em;
  }
  #gallery-second .popup-container6 .popup .text .title .story {
    font-size: 1em;
  }
  #gallery-second .popup-container7 .popup .text .title h2, #gallery-second .popup-container7 .popup .text .title .short {
    font-size: 1.2em;
  }
  #gallery-second .popup-container7 .popup .text .title .story {
    font-size: 1em;
  }
}
@media (max-width: 1200px) {
  #gallery-second .one {
    height: 21em;
    width: auto;
    bottom: 0;
    left: 5em;
  }
  #gallery-second .two {
    height: 17em;
    width: auto;
    bottom: 2em;
    right: 8em;
  }
  #gallery-second .three {
    height: 20em;
    width: auto;
    bottom: 5em;
    left: 5em;
  }
  #gallery-second .four {
    height: 20em;
    width: auto;
    bottom: 7em;
    right: 11em;
  }
  #gallery-second .five {
    height: 21em;
    width: auto;
    bottom: 10em;
    left: 5em;
  }
  #gallery-second .six {
    height: 20em;
    width: auto;
    bottom: 12em;
    right: 11em;
  }
  #gallery-second .popup-container1 .popup {
    flex-direction: column-reverse;
    padding: 2em;
  }
  #gallery-second .popup-container1 .popup .text {
    width: 100%;
  }
  #gallery-second .popup-container1 .popup .text .title {
    padding-left: 0;
  }
  #gallery-second .popup-container1 .popup .paint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 100%;
    width: 100%;
  }
  #gallery-second .popup-container1 .popup .paint img {
    width: 50%;
    height: auto;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container1 .popup .paint .context {
    height: 100%;
    font-size: 1.1em;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container1 .popup .e1 {
    top: 6%;
    left: 49%;
  }
  #gallery-second .popup-container2 .popup {
    flex-direction: column-reverse;
    padding: 2em;
  }
  #gallery-second .popup-container2 .popup .text {
    width: 100%;
  }
  #gallery-second .popup-container2 .popup .text .title {
    padding-left: 0;
  }
  #gallery-second .popup-container2 .popup .paint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 100%;
    width: 100%;
  }
  #gallery-second .popup-container2 .popup .paint img {
    width: 50%;
    height: auto;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container2 .popup .paint .context {
    height: 100%;
    font-size: 1.1em;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container2 .popup .e2 {
    top: 6%;
    left: 49%;
  }
  #gallery-second .popup-container3 .popup {
    flex-direction: column-reverse;
    padding: 2em;
  }
  #gallery-second .popup-container3 .popup .text {
    width: 100%;
  }
  #gallery-second .popup-container3 .popup .text .title {
    padding-left: 0;
  }
  #gallery-second .popup-container3 .popup .paint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 100%;
    width: 100%;
  }
  #gallery-second .popup-container3 .popup .paint img {
    width: 50%;
    height: auto;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container3 .popup .paint .context {
    height: 100%;
    font-size: 1.1em;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container3 .popup .e3 {
    top: 6%;
    left: 49%;
  }
  #gallery-second .popup-container4 .popup {
    flex-direction: column-reverse;
    padding: 2em;
  }
  #gallery-second .popup-container4 .popup .text {
    width: 100%;
  }
  #gallery-second .popup-container4 .popup .text .title {
    padding-left: 0;
  }
  #gallery-second .popup-container4 .popup .paint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 100%;
    width: 100%;
  }
  #gallery-second .popup-container4 .popup .paint img {
    width: 50%;
    height: auto;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container4 .popup .paint .context {
    height: 100%;
    font-size: 1.1em;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container4 .popup .e4 {
    top: 6%;
    left: 49%;
  }
  #gallery-second .popup-container5 .popup {
    flex-direction: column-reverse;
    padding: 2em;
  }
  #gallery-second .popup-container5 .popup .text {
    width: 100%;
  }
  #gallery-second .popup-container5 .popup .text .title {
    padding-left: 0;
  }
  #gallery-second .popup-container5 .popup .paint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 100%;
    width: 100%;
  }
  #gallery-second .popup-container5 .popup .paint img {
    width: 50%;
    height: auto;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container5 .popup .paint .context {
    height: 100%;
    font-size: 1.1em;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container5 .popup .e5 {
    top: 6%;
    left: 49%;
  }
  #gallery-second .popup-container6 .popup {
    flex-direction: column-reverse;
    padding: 2em;
  }
  #gallery-second .popup-container6 .popup .text {
    width: 100%;
  }
  #gallery-second .popup-container6 .popup .text .title {
    padding-left: 0;
  }
  #gallery-second .popup-container6 .popup .paint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 100%;
    width: 100%;
  }
  #gallery-second .popup-container6 .popup .paint img {
    width: 50%;
    height: auto;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container6 .popup .paint .context {
    height: 100%;
    font-size: 1.1em;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container6 .popup .e6 {
    top: 6%;
    left: 49%;
  }
  #gallery-second .popup-container7 .popup {
    flex-direction: column-reverse;
    padding: 2em;
  }
  #gallery-second .popup-container7 .popup .text {
    width: 100%;
  }
  #gallery-second .popup-container7 .popup .text .title {
    padding-left: 0;
  }
  #gallery-second .popup-container7 .popup .paint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 100%;
    width: 100%;
  }
  #gallery-second .popup-container7 .popup .paint img {
    width: 50%;
    height: auto;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container7 .popup .paint .context {
    height: 100%;
    font-size: 1.1em;
    padding: 1em 1em 2em 0;
  }
  #gallery-second .popup-container7 .popup .e7 {
    top: 6%;
    left: 49%;
  }
}
@media (max-width: 850px) {
  #gallery-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #gallery-first h1 {
    text-align: center;
    font-size: 3.5em;
  }
  #gallery-second .one {
    height: 17em;
    width: auto;
    bottom: 0;
    left: 5em;
  }
  #gallery-second .two {
    height: 17em;
    width: auto;
    bottom: 2em;
    right: 5em;
  }
  #gallery-second .three {
    height: 19em;
    width: auto;
    bottom: 4em;
    left: 5em;
  }
  #gallery-second .four {
    height: 23em;
    width: auto;
    bottom: 7em;
    right: 5em;
  }
  #gallery-second .five {
    height: 20em;
    width: auto;
    bottom: 10em;
    left: 7em;
  }
  #gallery-second .six {
    height: 17em;
    width: auto;
    bottom: 12em;
    right: 5em;
  }
  #gallery-second .popup-container1 .popup {
    margin: 5em;
    justify-content: space-between;
  }
  #gallery-second .popup-container1 .popup .text .title h2, #gallery-second .popup-container1 .popup .text .title .short {
    font-size: 1em;
  }
  #gallery-second .popup-container1 .popup .text .title .story {
    font-size: 0.9em;
  }
  #gallery-second .popup-container1 .popup .paint .context {
    height: 100%;
    font-size: 0.8em;
    padding: 0.5em 0.5em 1em 0;
  }
  #gallery-second .popup-container1 .popup .paint img {
    width: 50%;
    height: max-content;
    padding: 0.2em;
  }
  #gallery-second .popup-container2 .popup {
    margin: 5em;
    justify-content: space-between;
  }
  #gallery-second .popup-container2 .popup .text .title h2, #gallery-second .popup-container2 .popup .text .title .short {
    font-size: 1em;
  }
  #gallery-second .popup-container2 .popup .text .title .story {
    font-size: 0.9em;
  }
  #gallery-second .popup-container2 .popup .paint .context {
    height: 100%;
    font-size: 0.8em;
    padding: 0.5em 0.5em 1em 0;
  }
  #gallery-second .popup-container2 .popup .paint img {
    width: 50%;
    height: max-content;
    padding: 0.2em;
  }
  #gallery-second .popup-container3 .popup {
    margin: 5em;
    justify-content: space-between;
  }
  #gallery-second .popup-container3 .popup .text .title h2, #gallery-second .popup-container3 .popup .text .title .short {
    font-size: 1em;
  }
  #gallery-second .popup-container3 .popup .text .title .story {
    font-size: 0.9em;
  }
  #gallery-second .popup-container3 .popup .paint .context {
    height: 100%;
    font-size: 0.8em;
    padding: 0.5em 0.5em 1em 0;
  }
  #gallery-second .popup-container3 .popup .paint img {
    width: 50%;
    height: max-content;
    padding: 0.2em;
  }
  #gallery-second .popup-container4 .popup {
    margin: 5em;
    justify-content: space-between;
  }
  #gallery-second .popup-container4 .popup .text .title h2, #gallery-second .popup-container4 .popup .text .title .short {
    font-size: 1em;
  }
  #gallery-second .popup-container4 .popup .text .title .story {
    font-size: 0.9em;
  }
  #gallery-second .popup-container4 .popup .paint .context {
    height: 100%;
    font-size: 0.8em;
    padding: 0.5em 0.5em 1em 0;
  }
  #gallery-second .popup-container4 .popup .paint img {
    width: 50%;
    height: max-content;
    padding: 0.2em;
  }
  #gallery-second .popup-container5 .popup {
    margin: 5em;
    justify-content: space-between;
  }
  #gallery-second .popup-container5 .popup .text .title h2, #gallery-second .popup-container5 .popup .text .title .short {
    font-size: 1em;
  }
  #gallery-second .popup-container5 .popup .text .title .story {
    font-size: 0.9em;
  }
  #gallery-second .popup-container5 .popup .paint .context {
    height: 100%;
    font-size: 0.8em;
    padding: 0.5em 0.5em 1em 0;
  }
  #gallery-second .popup-container5 .popup .paint img {
    width: 50%;
    height: max-content;
    padding: 0.2em;
  }
  #gallery-second .popup-container6 .popup {
    margin: 5em;
    justify-content: space-between;
  }
  #gallery-second .popup-container6 .popup .text .title h2, #gallery-second .popup-container6 .popup .text .title .short {
    font-size: 1em;
  }
  #gallery-second .popup-container6 .popup .text .title .story {
    font-size: 0.9em;
  }
  #gallery-second .popup-container6 .popup .paint .context {
    height: 100%;
    font-size: 0.8em;
    padding: 0.5em 0.5em 1em 0;
  }
  #gallery-second .popup-container6 .popup .paint img {
    width: 50%;
    height: max-content;
    padding: 0.2em;
  }
  #gallery-second .popup-container7 .popup {
    margin: 5em;
    justify-content: space-between;
  }
  #gallery-second .popup-container7 .popup .text .title h2, #gallery-second .popup-container7 .popup .text .title .short {
    font-size: 1em;
  }
  #gallery-second .popup-container7 .popup .text .title .story {
    font-size: 0.9em;
  }
  #gallery-second .popup-container7 .popup .paint .context {
    height: 100%;
    font-size: 0.8em;
    padding: 0.5em 0.5em 1em 0;
  }
  #gallery-second .popup-container7 .popup .paint img {
    width: 50%;
    height: max-content;
    padding: 0.2em;
  }
}
/* ----------------------------- *
 *          RESERVATION          *
 * ----------------------------- */
#reservation-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#reservation-first h1 {
  position: relative;
  right: 22.5em;
  padding: 0.5em;
  height: fit-content;
  font-size: 1.5em;
  border-left: 2.5px solid #CFAA5B;
  border-bottom: 2.5px solid #CFAA5B;
}
#reservation-first form {
  display: flex;
  flex-direction: column;
}

.flatpickr-calendar {
  font-size: 1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  width: 30em;
}

.flatpickr-innerContainer {
  justify-content: center;
}

.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
  height: 1em;
  top: 10em;
  color: #CFAA5B;
  fill: #CFAA5B;
}
.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg {
  width: 2em;
  height: 2em;
}
.flatpickr-months .flatpickr-month {
  height: 5em;
}

.flatpickr-current-month {
  top: 25%;
  width: 80%;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #CFAA5B;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: #CFAA5B;
}

#reservation-second {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#reservation-second .ticket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: fit-content;
}
#reservation-second .ticket .ticket-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  padding: 2em;
  background-color: rgba(207, 170, 91, 0.3254901961);
  text-align: center;
}
#reservation-second .ticket .ticket-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 40%;
  padding: 5em;
  background-color: #FFFEF0;
  text-align: center;
  border: 2px solid #CFAA5B;
}
#reservation-second .ticket-button a {
  padding: 1em;
  border: solid 2px #CFAA5B;
}
#reservation-second .popup-status {
  display: block;
  color: black;
  position: fixed;
  height: 10em;
  width: 20em;
  top: 34em;
  right: 2em;
  border-radius: 20px;
  background-color: #CFAA5B;
}

/* ----------------------------- *
 *           CONTACT             *
 * ----------------------------- */
#contact-first {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 7em;
}
#contact-first h1 {
  text-align: center;
  font-size: 4em;
  padding: 0.5em;
}
#contact-first h2 {
  font-size: 1.5em;
  padding-bottom: 1em;
}
#contact-first .inner {
  width: 25em;
  background: #FDD1B8;
  padding: 3em 3em 1.5em 3em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#contact-first a:hover {
  text-decoration: none;
}
#contact-first :focus {
  outline: none;
}
#contact-first .form-group {
  position: relative;
  display: block;
}
#contact-first span {
  font-size: 0.7em;
  color: black;
}
#contact-first .form-control {
  border: none;
  border-bottom: 2px solid #CFAA5B;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 1em;
  background: 0 0;
}

/* ----------------------------- *
 *     DISPOSITIF INTERACTIF     *
 * ----------------------------- */
#dispo-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

#dispo-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "JOSEFINS";
  font-size: 1.5em;
}
#dispo-second .content {
  width: 80%;
}
#dispo-second .content .top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#dispo-second .content .top img {
  width: 30%;
}
#dispo-second .content .top .top-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  width: 100%;
}
#dispo-second .content .top .top-col img {
  padding-top: 1em;
  padding-left: 3em;
  width: 70%;
}
#dispo-second .content .bottom {
  padding: 1em 0 1em 0;
  width: 100%;
}

#log-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 6em;
  font-family: "JOSEFINS";
}
#log-page h1 {
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
}
#log-page h2 {
  font-family: "TAN-PEARL";
  font-size: 1.5em;
  padding-bottom: 0.7em;
  text-align: center;
}
#log-page .inner {
  height: 30em;
  width: 30em;
  background: rgba(253, 209, 184, 0.5882352941);
  padding: 1.8em 1.8em 0.8em 1.7em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#log-page a:hover {
  text-decoration: none;
}
#log-page :focus {
  outline: none;
}
#log-page .form-group {
  position: relative;
  display: block;
}
#log-page span {
  font-size: 1.1em;
  color: black;
  padding: 1em;
}
#log-page .form-control {
  border: none;
  border-radius: 10px;
  border-bottom: 2px solid #CFAA5B;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 1em;
  margin: 0.5em;
  padding: 1em;
  background: #FFFEF0;
}
#log-page input {
  height: 3em;
  width: 100%;
  color: whitesmoke;
  border-radius: 3px;
  background-color: #383838;
  font-family: "TAN-PEARL";
  margin: 0.7em;
}
#log-page input.form-control {
  color: #383838;
  font-family: "JOSEFINS";
  height: 1.7em;
  padding-bottom: 0.5em;
}
#log-page input#myInput {
  border: none;
  border-radius: 10px;
  border-bottom: 2px solid #CFAA5B;
  display: block;
  width: 100%;
  color: #383838;
  height: 43px;
  font-size: 1em;
  margin: 0.5em;
  padding: 1em;
  background: #FFFEF0;
}

#account-first {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 6em;
  font-family: "JOSEFINS";
}
#account-first h1 {
  text-align: center;
  font-size: 6em;
  padding: 0.5em;
}
#account-first h2 {
  font-family: "TAN-PEARL";
  font-size: 1.5em;
  padding-bottom: 0.7em;
  text-align: center;
}
#account-first .inner {
  height: 35em;
  width: 35em;
  background: rgba(253, 209, 184, 0.5882352941);
  padding: 1.8em 1.8em 0.8em 1.7em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#account-first a:hover {
  text-decoration: none;
}
#account-first :focus {
  outline: none;
}
#account-first .form-group {
  position: relative;
  display: block;
}
#account-first span {
  font-size: 1.1em;
  color: black;
  padding: 1em;
}
#account-first .form-control {
  border: none;
  border-radius: 10px;
  border-bottom: 2px solid #CFAA5B;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 1em;
  margin: 0.5em;
  padding: 1em;
  background: #FFFEF0;
}
#account-first input {
  height: 3em;
  width: 100%;
  color: whitesmoke;
  border-radius: 3px;
  background-color: #383838;
  font-family: "TAN-PEARL";
  margin: 0.7em;
}
#account-first input.form-control {
  color: #383838;
  font-family: "JOSEFINS";
  height: 1.7em;
  padding-bottom: 0.5em;
}
#account-first p {
  font-size: 5em;
}

#deco-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#deco-first p {
  font-size: 3em;
}

/* ----------------------------- *
 *          MEDIAQUERY           *
 * ----------------------------- */
@media (max-width: 690px) {
  #gallery-second .one {
    height: 13em;
    width: auto;
    bottom: 0;
    left: 5em;
  }
  #gallery-second .two {
    height: 11em;
    width: auto;
    bottom: 2em;
    right: 5em;
  }
  #gallery-second .three {
    height: 11em;
    width: auto;
    bottom: 5em;
    left: 2em;
  }
  #gallery-second .four {
    height: 11em;
    width: auto;
    bottom: 7em;
    right: 6em;
  }
  #gallery-second .five {
    height: 13em;
    width: auto;
    bottom: 10em;
    left: 5em;
  }
  #gallery-second .six {
    height: 11em;
    width: auto;
    bottom: 13em;
    right: 5em;
  }
  #gallery-second .seven {
    height: 11em;
    width: auto;
    bottom: 15em;
    left: 5em;
  }
  #gallery-second .popup-container1 .popup {
    margin: 0.5em;
    padding: 1em;
    justify-content: space-between;
    height: 90%;
  }
  #gallery-second .popup-container1 .popup .paint {
    justify-content: center;
    flex-direction: column;
  }
  #gallery-second .popup-container1 .popup .paint img {
    width: 100%;
    height: max-content;
    padding: 0.5em 7em 0.5em 7em;
  }
  #gallery-second .popup-container1 .popup .paint .context {
    display: none;
  }
}
@media (max-width: 400px) {
  #gallery-second .one {
    height: 12em;
    width: auto;
    bottom: 0;
    left: 2em;
  }
  #gallery-second .two {
    height: 11em;
    width: auto;
    bottom: 2em;
    right: 2em;
  }
  #gallery-second .three {
    height: 12em;
    width: auto;
    bottom: 3em;
    left: 2em;
  }
  #gallery-second .four {
    height: 12em;
    width: auto;
    bottom: 5em;
    right: 3.5em;
  }
  #gallery-second .five {
    height: 12em;
    width: auto;
    bottom: 7em;
    left: 3.5em;
  }
  #gallery-second .six {
    height: 12em;
    width: auto;
    bottom: 9em;
    right: 2.5em;
  }
  #gallery-second .six {
    height: 12em;
    width: auto;
    bottom: 11em;
    left: 4em;
  }
  #gallery-second .seven {
    height: 12em;
    width: auto;
    bottom: 12em;
    right: 4em;
  }
  #gallery-second .popup-container1 .popup .paint img {
    width: 100%;
    height: max-content;
    padding: 0.5em 3em 0.5em 3em;
  }
}
@media (max-width: 1020px) {
  #contact-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact-first h1 {
    font-size: 3em;
  }
}
@media (max-width: 400px) {
  #contact-first .inner {
    width: 90%;
  }
  #contact-first h1 {
    font-size: 2em;
  }
  #contact-first h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 1000px) {
  #account-first h2 {
    font-size: 1.2em;
    padding-bottom: 0.2em;
  }
  #account-first .inner {
    height: 31em;
    width: 30em;
  }
  #account-first span {
    font-size: 0.9em;
    color: black;
    padding: 1em;
  }
}
@media (max-width: 690px) {
  #account-first h2 {
    font-size: 1.2em;
    padding-bottom: 0.2em;
  }
  #account-first .inner {
    height: 31em;
    width: 20em;
  }
  #account-first span {
    font-size: 0.9em;
    color: black;
    padding: 1em;
  }
}
@media (max-width: 1000px) {
  #log-page h2 {
    font-size: 1.2em;
    padding-bottom: 0.2em;
  }
  #log-page .inner {
    height: 31em;
    width: 30em;
  }
  #log-page span {
    font-size: 0.9em;
    color: black;
    padding: 1em;
  }
}
@media (max-width: 690px) {
  #log-page h2 {
    font-size: 1.2em;
    padding-bottom: 0.2em;
  }
  #log-page .inner {
    height: 31em;
    width: 20em;
  }
  #log-page span {
    font-size: 0.9em;
    color: black;
    padding: 1em;
  }
}
@media (max-width: 1000px) {
  #log-page h2 {
    font-size: 1.2em;
    padding-bottom: 0.2em;
  }
  #log-page .inner {
    height: 31em;
    width: 30em;
  }
  #log-page span {
    font-size: 0.9em;
    color: black;
    padding: 1em;
  }
}
@media (max-width: 690px) {
  #reservation-second .ticket {
    flex-direction: column;
  }
  #reservation-second .ticket p {
    font-size: 0.8em;
  }
  #reservation-second .ticket .ticket-text {
    height: 100%;
    width: inherit;
  }
  #reservation-second .ticket .ticket-price {
    height: auto;
    width: inherit;
  }
  .flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
    height: 1em;
    top: 10em;
    left: 21em;
  }
}
@media (max-width: 1300px) {
  #artistes-1,
  #artistes-2,
  #artistes-3,
  #artistes-4,
  #artistes-5,
  #artistes-6 {
    padding-top: 4em;
    margin-bottom: 2em;
  }
  #artistes-1 .content .img,
  #artistes-2 .content .img,
  #artistes-3 .content .img,
  #artistes-4 .content .img,
  #artistes-5 .content .img,
  #artistes-6 .content .img {
    padding: 1em;
  }
  #artistes-1 .content .img img,
  #artistes-2 .content .img img,
  #artistes-3 .content .img img,
  #artistes-4 .content .img img,
  #artistes-5 .content .img img,
  #artistes-6 .content .img img {
    height: auto;
    width: 15em;
    padding-bottom: 1em;
  }
  #artistes-1 .content .text,
  #artistes-2 .content .text,
  #artistes-3 .content .text,
  #artistes-4 .content .text,
  #artistes-5 .content .text,
  #artistes-6 .content .text {
    padding: 1em;
    margin: 1em;
  }
}
@media (max-width: 1300px) {
  #artistes-1,
  #artistes-2,
  #artistes-3,
  #artistes-4,
  #artistes-5,
  #artistes-6 {
    padding-top: 4em;
    margin-bottom: 2em;
  }
  #artistes-1 .content,
  #artistes-2 .content,
  #artistes-3 .content,
  #artistes-4 .content,
  #artistes-5 .content,
  #artistes-6 .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #artistes-1 .content .img,
  #artistes-2 .content .img,
  #artistes-3 .content .img,
  #artistes-4 .content .img,
  #artistes-5 .content .img,
  #artistes-6 .content .img {
    position: relative;
    padding: 1em;
  }
  #artistes-1 .content .img img,
  #artistes-2 .content .img img,
  #artistes-3 .content .img img,
  #artistes-4 .content .img img,
  #artistes-5 .content .img img,
  #artistes-6 .content .img img {
    height: auto;
    width: 15em;
    padding-bottom: 1em;
  }
  #artistes-1 .content .text,
  #artistes-2 .content .text,
  #artistes-3 .content .text,
  #artistes-4 .content .text,
  #artistes-5 .content .text,
  #artistes-6 .content .text {
    bottom: 0em;
  }
  #artistes-1 .content .text h1,
  #artistes-2 .content .text h1,
  #artistes-3 .content .text h1,
  #artistes-4 .content .text h1,
  #artistes-5 .content .text h1,
  #artistes-6 .content .text h1 {
    font-family: "TAN-PEARL";
    font-size: 2em;
  }
}
#artistes-1,
#artistes-2,
#artistes-3,
#artistes-4,
#artistes-5,
#artistes-6 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}
#artistes-1 .content,
#artistes-2 .content,
#artistes-3 .content,
#artistes-4 .content,
#artistes-5 .content,
#artistes-6 .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#artistes-1 .content .img,
#artistes-2 .content .img,
#artistes-3 .content .img,
#artistes-4 .content .img,
#artistes-5 .content .img,
#artistes-6 .content .img {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "JOSEFINS";
  font-size: 1.2em;
}
#artistes-1 .content .img img,
#artistes-2 .content .img img,
#artistes-3 .content .img img,
#artistes-4 .content .img img,
#artistes-5 .content .img img,
#artistes-6 .content .img img {
  min-height: auto;
  width: 15em;
  top: 13em;
  padding-bottom: 1em;
}
#artistes-1 .content .text,
#artistes-2 .content .text,
#artistes-3 .content .text,
#artistes-4 .content .text,
#artistes-5 .content .text,
#artistes-6 .content .text {
  font-family: "JOSEFINS";
  height: fit-content;
  width: auto;
  background-color: rgba(217, 217, 217, 0.6274509804);
  padding: 2em;
  margin: 3em;
  bottom: 7em;
  font-size: 1.2em;
}
#artistes-1 .content .text h1,
#artistes-2 .content .text h1,
#artistes-3 .content .text h1,
#artistes-4 .content .text h1,
#artistes-5 .content .text h1,
#artistes-6 .content .text h1 {
  font-family: "TAN-PEARL";
  font-size: 2em;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(217, 217, 217, 0.43);
}
footer .logo {
  position: relative;
  top: 2.5em;
  height: 10em;
}
footer .logo-hover {
  padding: 0 0.5em;
  width: 10em;
}
footer .logo-hover:hover {
  fill: rgba(253, 209, 184, 0.8);
}
footer .container-logo-info {
  display: flex;
}
footer .container-logo-info a {
  text-align: center;
}
footer .container-logo-info a:hover {
  text-decoration: underline;
}
footer .container-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer h2 {
  font-size: 1.5em;
}
footer a {
  font-size: 0.8em;
}
footer .logo-container {
  display: flex;
}
footer .logo-container img {
  width: 8em;
  padding: 0 0.5em;
}

/*# sourceMappingURL=style.css.map */
