RewriteEngine On

# correspond à "/users" pour renvoyer "users.php"
RewriteRule ^users/?$ users.php [NC,L]
RewriteRule ^users/(\d+)$ users.php?id=$1 [NC,L]


# correspond à "/artists/123" pour renvoyer "artists.php?id=123"
RewriteRule ^artists/?$ artists.php [NC,L]
RewriteRule ^artists/(\d+)$ artists.php?id=$1 [NC,L]

# correspond à "/basket" pour renvoyer "basket.php"
RewriteRule ^baskets/?$ basket.php [NC,L]
RewriteRule ^baskets/(\d+)$ basket.php?id=$1 [NC,L]
